.container {
    display: inline-flex;
    margin: 3rem auto auto;
}

.leftSide {
    padding: 2rem 0;
}

.title {
    padding: 0.25rem;
    color: #ccc;
    background-color: var(--primary);
    width: max-content;
}

.subTitle {
    font-size: 3rem;
}

.text {
    color: var(--text-secondary);
}

.link {
    color: var(--primary);
    cursor: pointer;
}

.rightSide {
    display: none;
    position: relative;
    justify-content: center;
}

.rightSide::after {
    content: "";
    position: absolute;
    width: 30vw;
    height: 30vw;
    z-index: -1;
    margin: auto;
    border-radius: 50%;
    background-image: radial-gradient(circle, #666565, transparent 60%, #2b2f32);
}

.image {
    width: 50%;
    height: 100%;
    margin: auto;
}

.tech {
    position: absolute;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #23272a;
}

.icon {
    width: 100%;
    height: 100%;
}

.iconNode {
    top: 2rem;
    left: 5rem;
    width: 4rem;
    height: 4rem;
    color: #6af5b6;
}

.iconReact {
    top: 2rem;
    right: 5rem;
    width: 4.5rem;
    height: 4.5rem;
    color: #61dafb;
}

.iconNext {
    top: 10rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    color: #808080;
}

.iconLaravel {
    top: 12rem;
    left: 4rem;
    width: 4rem;
    height: 4rem;
    color: #f9322c;
}


@media (min-width: 500px) {
    .leftSide {
        max-width: 50%;
        padding-top: 4rem;
    }
    .rightSide {
        display: flex;
    }
}

@media (prefers-color-scheme: light) {
    .title {
        color: #2b2f32;
    }
    .rightSide::after {
        background-image: radial-gradient(circle, #2b2f32, transparent 60%, #66656500);
    }
}