.container {
    display: inline-flex;
    width: 100%;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
}

.name {
    display: none;
}

.items {
    display: inline-flex;
    flex: 1;
    gap: 0.5rem;
    justify-content: center;
}

.icons {
    display: inline-flex;
    font-size: 1.25rem;
    gap: 0.25rem;
}
.social {
    gap: 0.25rem;
}

@media (min-width: 500px) {
    .Name {
        display: flex;
    }
    .social {
        display: inline-flex;
    }
}